/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.username-container, .chat-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.messages {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

input, button {
    width: calc(100% - 50px);
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para los mensajes */
.message {
    max-width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.message.sent {
    align-self: flex-end;
    background-color: #4CAF50;
    color: white;
}

.message.received {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: #333;
}

/* Estilo de los contenedores de mensajes */
.messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.message.join-message {
    align-self: center;
    background-color: #f1f1f1;
    color: #333;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    border: none;
}

.message.join-message {
    align-self: center;
    background-color: #f1f1f1;
    color: #333;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    border: none;
}

/* Para la desconexión */
.message.leave-message {
    align-self: center;
    background-color: #ffcc00;
    color: #333;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    border: none;
}

.timestamp {
    font-size: 12px;
    color: #000000;
    margin-left: 10px;
}

.message {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 10px;
    max-width: 80%;
}

.sent {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    text-align: right;
}

.received {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
}


#sidebar {
    width: 200px;
    background: #f8f9fa;
    padding: 10px;
    border-right: 2px solid #ddd;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
}

#users-list {
    list-style: none;
    padding: 0;
}

#users-list li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}